{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} {% endblock %}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link href="{% static  'css/base.css' %}" rel="stylesheet" />
    {% block style %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="menu-navbar">
        <i class="fa fa-bars menu-toggle"></i>
        <div class="logo">
          <a href="{% url 'base:index'%}"
            ><img class="logo" src="{% static 'media/logo.png' %}" alt=""
          /></a>
        </div>
        <ul class="nav">
          <li><a href="{% url 'base:index'%}">Inicio</a></li>
          <li>
            <a href="{% url 'base:nosotros' %}">
              Nosotros
              <i class="fa fa-chevron-down" style="font-size: 0.8em;"></i>
            </a>

            <ul class="dropdownnosotros">
              <li><a href="{% url 'base:servicios' %}">Servicios</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'base:store' %}" target="_blank"
              ><i
                class="fa fa-shopping-cart"
                aria-hidden="true"
                style="font-size: 2em;"
              ></i
            ></a>
          </li>
        </ul>
      </div>
    </header>

    {% block content %} {% endblock %}

    <footer class="center">
      <h1 class="f-title">Patrocinadores</h1>
      <div class="row partners">
        <div class="col-lg-6 subpartners1">
          <div class="row justify-content-end">
            <div class="col align-self-center">
              <img
                class="aruba"
                src="{% static 'media/partner/aruba.png'%}"
                alt="First slide"
              />
            </div>

            <div class="col align-self-center">
              <img
                class="meraki"
                src="{% static 'media/partner/cisco meraki.png'%}"
                alt="First slide"
              />
            </div>
            <div class="col align-self-center">
              <img
                class="fortinet"
                src="{% static 'media/partner/fortinet.png'%}"
                alt="First slide"
              />
            </div>
            <div class="col align-self-center">
              <img
                class="hp w-10"
                src="{% static 'media/partner/hp.png'%}"
                alt="First slide"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 subpartners2 d-flex align-items-center">
          <div class="row">
            <div class="col">
              <img
                class=""
                src="{% static 'media/partner/lenovo.png'%}"
                alt="First slide"
              />
            </div>

            <div class="col">
              <img
                class="mcaffee"
                src="{% static 'media/partner/mcaffee.png'%}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="microsoft365"
                src="{% static 'media/partner/microsoft 365.png'%}"
                alt="First slide"
              />
            </div>
            <div class="col">
              <img
                class="sophos"
                src="{% static 'media/partner/Sophos.png'%}"
                alt="First slide"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="f-title">It Helper</p>
        <p class="email">contacto@ithelper.cl</p>
        <p class="email">+56229060002</p>
        <div class="rrss">
          <a
            href="https://www.facebook.com/ithelper_tecnologia-108192747636179"
            target="_blank"
            class="fa fa-facebook"
          ></a>
          <a
            href="https://twitter.com/IThelper_tecno"
            target="_blank"
            class="fa fa-twitter"
          ></a>
          <a
            href="https://www.instagram.com/ithelper_tecnologia/"
            target="_blank"
            class="fa fa-instagram"
          ></a>

          <a
            href="https://bit.ly/whatsappIT_HELPER"
            target="_blank"
            class="fa fa-whatsapp"
          ></a>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
