{% extends 'base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}It Helper{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <div id="container-center">
      <section class="center">
        <span>CONOZCA A IT HELPER</span>
      </section>
    </div>
    <footer class="center">
      <span>It Helper</span>
    </footer>
  </div>
  {% endblock %}
  </body>
</html>
