{% extends 'base.html' %} {% load static %}

<title>{% block title %}It Helper - Productos y Servicios{% endblock %}</title>
{% block style %}
<link href="{% static  'css/servicios.css' %}" rel="stylesheet" />
{% endblock %}
<body>
  {% block content %}

  <div class="div-title">
    <h1 class="p-title-4">PRODUCTOS Y SERVICIOS</h1>

    <p class="subtitle-3">En ITHelper, superamos tus expectativas</p>
  </div>

  <div class="servicios row">
    <div class="servicios-1 row">
      <div class="col-xl-6 servicios-text">
        <h1 class="p-title-3">INSTALACIÓN DE SERVIDORES</h1>

        <p class="p-servicios1">
          Examinamos lo que hacen las organizaciones para destacar y ser
          competitivas en un mundo tan dinámico, y cuáles lo están haciendo
          mejor. Después diseñamos estrategias utilizando herramientas
          inteligentes y recursos globales para entender las implicaciones que
          puedan tener las decisiones que tomen nuestros clientes. Póngase en
          contacto con nosotros para conocer cómo puede beneficiarle este
          servicio.
        </p>
      </div>

      <div class="col-xl-6 d-flex justify-content-center">
        <img class="img-1" src="https://i.imgur.com/Ymbkkdj.png" alt="" />
      </div>
    </div>
    <div class="servicios-2 row">
      <div class="col-xl-6 servicios-text">
        <h1 class="p-title-3">COPIA DE SEGURIDAD DEL SISTEMA</h1>

        <p class="p-servicios1">
          Con años de experiencia, nuestro equipo tiene la capacidad y el saber
          hacer necesarios para hacer avanzar a su empresa. En It Helper
          combinamos nuestros conocimientos y habilidades para transformar sus
          procesos y estrategias, y con ello, a su empresa. Nos llena de orgullo
          poder ayudar a nuestros clientes a dar forma y mejorar la estructura y
          gestión de sus empresas.
        </p>
      </div>
      <div class="col-xl-6 d-flex justify-content-center">
        <img class="img-2" src="https://i.imgur.com/ymLQzTR.png" alt="" />
      </div>
    </div>
  </div>
  {% endblock %}
</body>
