.button{
  display: block;
  margin: 0 auto;
}

.p-title-2{
  font-size: 30px;
  margin-bottom: 3%;
}

.wrapper-general {
  padding: 70px;
}

.carousel {
  margin: auto;
}

.wrapper-carousel {
  display: flex;
  width: 100%;
}

.nutanix * {
  margin-top: 3%;
}

.nutanix p {
  padding-bottom: 3%;
}

.fortinet {
  padding-top: 2%;
}


.fortinet p {
    padding-bottom: 2%;
  }

.fortinet .carousel {
  width: 50vh;
}

.nutanix .carousel{
  width: 50vh;
  margin-top: 2%;
}

.dell .carousel {
  width: 50vh;
}

.veeam .carousel {
  width: 60vh;
}

.subtitle-4{
  margin-top: 20%;
  color: #2e8bfb
}

.unitrendsimg{
  margin-left: 15%;
  padding: 0px;
  width: 70%;
  justify-self: center;
}

@media only screen and (max-width: 610px){

  .unitrendsimg{
    margin-left: 10%;

    width: 80%;

  }
  .nutanix .carousel{
    width: 40vh;
  }

  .fortinet .carousel{
    width: 40vh;
  }

  .dell .carousel {
    width: 40vh;
  }
  
  .veeam .carousel {
    width: 40vh;
  }

  .p-title-2{
    font-size: 30px;
    margin-bottom: 15%;
  }
  .subtitle-4{

    font-size: 20px;
  }
}

@media only screen and (max-width: 470px){
  .nutanix .carousel{
    width: 30vh;
  }

  .fortinet .carousel{
    width: 30vh;
  }

  .veeam .carousel {
    width: 30vh;
  }

  .p-title-2{
    font-size: 25px;
  }

  .subtitle-4{
    font-size: 20px;
  }
}

@media only screen and (max-width: 330px){
  .nutanix .carousel{
    width: 20vh;
  }

  .fortinet .carousel{
    width: 25vh;
  }

  .veeam .carousel {
    width: 25vh;
  }

  .p-title-2{
    font-size: 25px;
  }

  .subtitle-4{
    font-size: 20px;
  }
}